node_modules
dist
build
*.log
.env
.DS_Store
coverage
*.cache
*.tmp
*.bak
*.swp
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.env.local.example
.next
.env.example
*.pem
*.key
*.crt
*.pfx
*.cer
*.der
*.jks
*.keystore